@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h1>Trần Minh Hiếu</h1>

