@model MyWebMVC.Data.Loai

@{
    ViewData["Title"] = "Thêm Danh Mục";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h2>THÊM DANH MỤC</h2>

<hr />
<div class="row">
    
        <form asp-action="ThemDanhMuc" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên loại</label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tên loại Alias</label>
                <input asp-for="TenLoaiAlias" class="form-control" />
                <span asp-validation-for="TenLoaiAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input asp-for="Hinh" type="file" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-default" >Thêm mới</button>
            </div>
        </form>
    
</div>


