@model IEnumerable<MyWebMVC.ViewModels.HangHoaVM>
<section class="product_section womens_product text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h2>Top sản phẩm bán chạy nhất</h2>
                    <p>Các sản phẩm thiết kế hiện đại,mới nhất</p>
                </div>
            </div>
        </div>
        <div class="product_area">
            
            <div class="tab-content" style="display: flex; flex-wrap: wrap; justify-content: space-evenly">

                @foreach(var item in Model)
                {
                    <div class="col-lg-3" style="width: 32%; display: inline-block;">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" asp-controller="HangHoa" asp-action="Detail" asp-route-maHangHoa="@item.MaHangHoa" tabindex="0" style="width: 100px">
                                    <img id="ContentPlaceHolder1_ProductRepeater_image_0" src="~/Hinh/HangHoa/@item.Hinh">


                                </a><div class="quick_button">
                                    <a class="primary_img" href="DetailProduct.aspx" tabindex="0" style="width: 100px">
                                    </a><a class="primary_img" asp-controller="HangHoa" asp-action="Detail" asp-route-maHangHoa="@item.MaHangHoa">Xem sản phẩm</a>
                                </div>

                            </div>
                            <div class="product_content">
                                <h3><a href="product-details.html?productId=6" tabindex="0">@item.TenHangHoa</a></h3>
                                <span class="current_price">@item.DonGia $</span>
                            </div>
                        </div>
                    </div>
                }

                

            </div>
        </div>

    </div>
</section>