
@model IEnumerable<MyWebMVC.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Danh sách hàng hóa";
    Layout = "~/Views/Shared/_LayoutCustomAll.cshtml";
}

  <!-- Single Page Header start -->
        
        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">TMH Shop</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <form asp-action="Search" asp-controller="HangHoa"  style="display:flex;">
                                        
                                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
                                    <button style="border:none;">
                                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                                    </button>
                                    
                                    </form>
                                </div>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="fruits">Default Sorting:</label>
                                    <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                        <option value="volvo">Nothing</option>
                                        <option value="saab">Popularity</option>
                                        <option value="opel">Organic</option>
                                        <option value="audi">Fantastic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">

                            @await Component.InvokeAsync("MenuLoai")


                                    <div class="col-lg-12">
                                        <form asp-action="SearchByPrice" asp-controller="HangHoa" class="mb-3">
                                            <h4 class="mb-2">Price</h4>
                                            <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="price.value=rangeInput.value">
                                            <output id="price" name="price" min-velue="0" max-value="500" for="price">0</output>
                                            <br />
                                            <input style="border-radius:3px; background-color:antiquewhite" type="submit" value="Filter"  title="Filter" />
                                        </form>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="~/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center">
                            @RenderBody()

                                    <br />
                                    <br />
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->
<script>
    document.getElementById('rangeInput').addEventListener('input', function () {
        document.getElementById('price').value = this.value;
    });
</script>

